a {
    color: cornflowerblue;
    text-decoration: none;
    height: 50px;
}

ul {
    list-style: none;
}

a:hover {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: floralwhite;
    
}

input {
      width: 200px;
       height: 30px;
}


.button {
    width: 100px;
    height: 50px;
   margin-top: 20px;
   margin-left: 20px;
}
.menu ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.forma {
    margin-left: 50px;
}
.forma {
    display: flex;
    flex-direction: column;
}

